spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/lupus}
    username: ${DB_USERNAME:lupus}
    password: ${DB_PASSWORD:lupus}
    driver-class-name: ${DB_DRIVER:org.postgresql.Driver}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: ${HIBERNATE_DIALECT:org.hibernate.dialect.PostgreSQLDialect}
        format_sql: true
